@import "../../assets/variables.scss";

.button {
	color: #fff;
	font-size: 20px;
	padding: 0.5em 1.5em;
	margin: 0.5em auto;
	border: 2px solid #fff;
	border-radius: 150px;
	text-align: center;
	position: relative;
	display: block;
	margin: auto;
	background: transparent;

	&.scale {
		transition: letter-spacing 0.45s ease-out, transform 0.225s ease-out;

		&:hover {
			transform: scale(1.05);
			letter-spacing: 0.1em;
		}

		&:active {
			transform: scale(0.975);
			letter-spacing: initial;
		}
	}

	.fullwidth {
		width: 100%;
	}

	&.gradient {
		font-weight: 500;
		border-width: 0;
		@include gradientBg();

		&:hover,
		&:active {
			@include displaceBg();
		}
	}
}