@import "../../assets/variables.scss";

.reportcard {
	display: block;
	position: relative;
	width: auto;
	background: #333;
	border-radius: 10px;
	padding: 20px 10px;
	margin: 0 10px 0 10px;
	width: calc(33.33% - 20px);
	transition: transform 0.3s ease-in-out;

	&:hover {
		cursor: pointer;
		transform: translateY(-5px);
	}

	h2 {
		color: #fff;
		font-weight: bold;
	}

	.count {
		color: #fff;
	}
}

.row {
	.column {
		&:nth-child(1) {
			width: 60%;
			text-align: center;
			padding: 10px;
		}

		&:nth-child(2) {
			width: 40%;

			.title,
			.count {
				margin-left: 0.5em;
			}

			hr {
				border: none;
			}
		}
	}
}

.difference {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin: 1em 0 1.5em 0;
	padding: 0.25em 1em;
	border-radius: 50px;
	display: inline-block;
	background: $color-grey-light;

	&:before {
		width: 1em;
		height: 1em;
		top: 0.125em;
		content: ' ';
		position: relative;
		margin: 0 0.5em 0 0;
		display: inline-block;
		background-color: #000;
		background-size: contain;
		background-position: center;
	}

	&.inc {
		background-color: $color-green;

		&:before {
			background-image: url('/assets/i-up.svg');
		}
	}

	&.dec {
		background-color: $color-red;

		&:before {
			background-image: url('/assets/i-down.svg');
		}
	}
}

.expand {
	color: $color-grey-light;
	text-decoration-color: $color-grey-light;
;}