@import "../../assets/variables.scss";

.filepond--panel-root {
  background: #eee;
  border-radius: 16px;
}

.filepond--item,
.filepond--file-wrapper,
.filepond--file {
  background: #fff;
  color: $color-grey-dark;
}

.filepond--item {
  border-radius: 16px;
}

.filepond--file-action-button {
  background: $color-red;
}