@import "../../assets/variables.scss";

.contact-form {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  &.form,
  &.success {
    top: 0;
    width: 100%;
    display: block;
    background: #fff;
    padding: 45px 35px;
  }

  &.success {
    color: #fff;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    @include gradientBg();
    @include displaceBg();
    @include displaceBgSlow();

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      button {
        margin: 1.5em auto 0 auto;
      }
    }
  }
}

form {
  font-size: 13px;
  color: $color-grey-dark;

  label {
    font-weight: bold;
    display: block;
    position: relative;
    margin-bottom: 1em;
  }

  input,
  textarea,
  button {
    width: calc(100% - 2em);
    outline: none;
    border-radius: 16px;
    padding: 0.75em 1em;
    border: 1px solid $color-grey-light;

    &[type="submit"] {
      font-size: 18px;
    }
  }

  .input-group {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 1.5em;

    &.half {
      width: 50%;
      padding: 0 15px;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  span {
    color: $color-green;
  }
} 

#filedrag
{
  /*display: none;*/
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#filedrag.hover
{
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

button {
  &.white {
    border-width: 0;
    background: #fff;
    color: $color-green;
  }
}

/* Modal styles */
.modal.contact {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s ease-in-out;

  .modal-main {
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    position: fixed;
    background: #fff;
    transform: translate(-50% ,-150%);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 45px 0;

      @include gradientBg();

      button {
        margin: none;
      }
    }
  }
}
