@import "../../assets/variables.scss";

.modal {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s ease-in-out;

  .modal-main {
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    position: fixed;
    background: white;
    transform: translate(-50% ,-150%);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;

    .header {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 45px 0;

      .container {
        width: 100%;
        padding: 0 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @include gradientBg();

      button {
        margin: none;
      }
    }
  }

  &.display-block {
    opacity: 1;
    pointer-events: all;

    .modal-main {
      transform: translate(-50% ,-50%);

      @media screen and (max-width: 768px) {
        transform: none;
        top: 2.5vw;
        left: 5vw;
        width: 90vw;
      }
    }
  }

  &.display-none {
    opacity: 0;
    pointer-events: none;
  }

}
