$color-red: #f94531;
$color-green: #3ab34d;
$color-yellow: #efc82a;
$color-cyan: #269fbd;
$color-purple: #7641cb;
$color-grey-dark: #151515;
$color-grey-light: #999999;
$color-grey: #222222;
$border-radius: 5px;
$graph-bg-color: #1d1d1d;
$box-bg-color: #222222;
$graph-line-color: #333333;
$gradient-start: #129a67;
$gradient-end: #1fc48f;