@import "assets/variables.scss";

/* Global */
body {
  font-size: 20px;
  color: #989999;
  background: #151515;
  padding: 50px 0;
}

/* Style Classes */
.gradient {
  @include gradientBg();
}

.row {
  width: 100%;
  display: flex;
  align-items: center;

  .half {
    padding: 0 15px;

    &:first-of-type() {
      padding-left: 0;
    }

    &:last-of-type() {
      padding-left: 0;
    }
  }
}

.space {
  padding: 50px 0;
}

.header {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Elements */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 21.73px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 21.73px;
  text-align: center;
  background: transparent;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

/* Components */
.graph {
  font-size: 20.32px;

  .header {
    font-size: 21.73px;
  }
}

.box {
  background: $color-grey;
  border-radius: $border-radius;

  .title {
    font-size: 21.73px;
  }

  .number {
    font-size: 28.96px;
  }
}
